<div *ngIf="domain != undefined" class="table-row">
    <span class="col domain-title">
      {{ domain.domain }}
    </span>
    <span class="col domain-storage">
      {{ domain.usedStorage }}
      
    </span>
    <span class="col domain-visitor">
        {{ domain.monthlyVisitor }}
    </span>
    <span class="col domain-used">
        <app-label [label]="domain.domainTag" [color]="'#33cc86'"></app-label>
    </span>
    <span class="col domain-status">
      <app-label [label]="domain.status" [color]="'#33cc86'"></app-label>
    </span>
  </div>