#progressbar {
  background-color: #e3e5e8;
  border-radius: 6px;
  /* margin-top: 8px; */
  margin-bottom: 5px;
}

#progressbar > div {
  background-color: #33CC86;
  height: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
